@import './Components/normalize';
@import './Utils/variables';
@import './Utils/mixin';
@import './Utils/extends';
@import './Components/barnav';
@import './Components/header';
@import './Components/hero';
@import './Components/searchbox';
@import './Components/gallery';
@import './Components/pageindex';
@import './Components/footer';
@import './Components/modal-team';
@import './Components/popular';
@import './Components/buscar';

@import './Components/modal-movie';

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}