@import './Components/normalize';
@import './Utils/variables';
@import './Utils/mixin';
@import './Utils/extends';
@import './Components/barnav';
@import './Components/header';
@import './Components/hero';
@import './Components/searchbox';
@import './Components/gallery';
@import './Components/pageindex';
@import './Components/footer';
@import './Components/modal-team';
@import './Components/popular';
<<<<<<< HEAD
@import './Components/buscar';

@import './Components/modal-movie';
=======
>>>>>>> parent of ac6d092 (partial-main)

.container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}