<header class="header-bg">
    <div class="l1-header">
        <svg class="film-icon">
          <use href="/src/images/svg/icons.svg#film"></use>
        </svg>
        <h1 style="color: white">Filmoteka</h1>
    </div>
    <nav>
      <ul>
        <li><a href="#" class="active">HOME</a></li>
        <li><a href="#">MY LIBRARY</a></li>
      </ul>
    </nav>
    </div>
    <!-- <form id="search-form">
        <input type="text" placeholder="Buscar..." id="search-input" />
        <svg class="search-icon">
          <use href="./images/svg/sprite.svg#search"></use>
        </svg>
      </form> -->
</header>
