<header class="header-bg">
  <div class=" header-content">
    <div class="l1-header">
      <svg class="film-icon">
        <use href="/src/images/svg/icons.svg#film"></use>
      </svg>
      <h1 ><a style="color: white" href="/src/index.html">Filmoteka</a></h1>
  </div>
  <nav>
    <ul>
      <li><a href="/src/index.html" class="active">HOME</a></li>
      <li><a href="library.html">MY LIBRARY</a></li>
    </ul>
  </nav>
  </div>
  <div id="search-content">
  <input class="searchInput" onclick="searchMovies()" type="text" id="searchInput" placeholder="Buscar película">
  <svg class="search-icon">
    <use href="/src/images/svg/icons.svg#search"></use>
  </svg>
  
  </div>
  <div id="input-id" >
  </div>
</header>
