<header class="header-bg-library">

  <div class="l1-header-library">
      <svg class="film-icon">
        <use href="/src/images/svg/icons.svg#film"></use>
      </svg>
      <h1 class="h1-library" style="color: white">Filmoteka</h1>
  <div>
  <nav>
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><a class="active" href="./library.html">MY LIBRARY</a></li>
    </ul>
  </nav>
  </div>
     
  </div> 
<div class="buttons">
  <button type="button" class="queryWatch">WATCHED</button>
  <button type="button" class="queryQueue">QUEUTOE</button>
</div>
</header>