<div class="backdrop-modal team__backdrop--hidden">
    <div class="team__modal">
         <button class="team__modal--close close-modal-team">
           <svg class="team__icon team__icon--close" width="25" height="25">
             <use href="/src/images/svg/icons.svg#icon-close"></use>
           </svg>
         </button>
         <h1 class="team__title">CodeMaster's</h1>
         <div class="team__box">
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/edwin.jpeg"
                alt="Edwin"/>
               </div>
              <a class="team__link"
              href="https://github.com/V-573"
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/svg/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Edwin</p>
              <p class="team__role">Team Lead</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/smith-daza.jpeg"
                alt="smith"/>
               </div>
              <a class="team__link"
              href="https://github.com"
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/svg/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Smith Daza</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/kathy-betancourt.jpeg"
                alt="kathy"/>
               </div>
              <a class="team__link"
              href="https://github.com"
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/svg/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Kathy Betancourt</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/elio-ariza.jpeg"
                alt="elio"/>
               </div>
              <a class="team__link"
              href="https://github.com"
              target="_blank" >
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/svg/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Elio Ariza</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/rafael-garcia.jpeg"
                alt="rafael"/>
               </div>
              <a class="team__link"
              href="https://github.com"
              target="_blank">
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/svg/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Rafael Garcia</p>
              <p class="team__role">Developer</p>
            </div>
            <!-- <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/Khymenko.jpg"
                alt="Khymenko"/>
               </div>
              <a class="team__link"
              href="https://github.com/Crash-afftar"
              target="_blank" >
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Oleksandr Khymenko</p>
              <p class="team__role">Developer</p>
            </div>
            <div class="team__member">
               <div class="team__card">
                <img class="team__photo" src="/src/images/team/Stepanovych.jpg"
                alt="Stepanovych"/>
               </div>
              <a class="team__link"
              href="https://github.com/yulka-pulka"
              target="_blank" >
              <svg class="team__github" width="25" height="25">
               <use href="/src/images/icons.svg#icon-github"></use>
              </svg>
              </a>
              <p class="team__name">Yuliia Stepanovych</p>
              <p class="team__role">Developer</p>
            </div> -->
         </div>
    </div>
</div>