<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="image-modal-content">
            <img src="/src/images/team/edwin.jpeg" alt="" id="image__movie">
        </div>

        <div class="data-modal-content">
            <h2 id="modalTitle"></h2>
        <p id="modalRating"></p>
        <p id="modalPopularity"></p>
        <p id="modalDescription"></p>
        <div class="btns"> 
            <button type="button" class="add-watched-btn">ADD TO WATCHED</button>
            <button type="button" class="add-queue-btn">ADD  QUEUTOE</button>
        </div>
        </div>
        <span class="close">&times;</span>
        

        
    </div>
</div>