<div id="myModal" class="modal">

  <div class="modal-content">

          <span class="close">&times;</span>

        <div class="content__modal">

            <img class="image__movie" id="image__movie" src="./images/sinfondo.png" alt="">

            <div class="information">

                <h2 class="title" id="title"></h2>

                <div class="description">

                <div class="left-descr-content"> Votes <div class="votes" id="votes"><span class="average" id="average"></span><span class="count" id="count"></span></div> </div>

                <div class="left-descr-content"> Popularity <div class="popularity" id="popularity"></div> </div>

                <div class="left-descr-content"> Original title <div class="originalTitle" id="originalTitle"></div> </div>

                <div class="left-descr-content"> Genre <div class="genre" id="genre"></div> </div>

              </div>

                <div class="div__about"> 

                <p class="about">About</p> 

                <div class="about-movie" id="about-movie"></div> 

              </div>

                <div class="btns"> 

                  <button type="button" class="add-watched-btn">ADD TO WATCHED</button>

                  <button type="button" class="add-queue-btn">ADD  QUEUE</button>

                </div>
              
            </div>

        </div>

  </div>

</div>
