:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
  }
  
  .header-bg {
    background-image: url("/src/images/header-bg.png");
    background-size: 100% auto; 
    background-position: center;
    background-repeat: no-repeat; 
    width: 1200px;
    // height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 20px;
  }
  
  .l1-header {
    display: flex;
    align-items: flex-start; 
    margin: 10px 0; 
  }
  
  .marca {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
  h1 {
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    h1 {
      display: none;
    }
  }
  
  #search-form {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%; 
  }
  
  #search-input {
    padding: 10px;
    width: 344px; 
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    display: flex;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    font-size: 16px; 
  }
  
  #search-input:focus {
    outline: none;
  }
  
  .film-icon {
    width: 24px;
    height: 24px;
    display: flex;
    margin: 0;
    background-color:black;
    color: white;
  } 
  
  
  .gallery {
    display: grid;
    max-width: 1140px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 240px;
    grid-gap: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .gallery__item {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  
  .gallery__image:hover {
    transform: scale(1.03);
  }
  
  .gallery__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform var(--animation-duration) var(--timing-function);
  }
  
  .gallery__link {
    display: block;
    text-decoration: none;
    height: 100%;
  }
  
  .gallery__link:hover {
    cursor: zoom-in;
  }