.movieContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 767px) {
        justify-content: center;
    }

    @media screen and (min-width: 768px) and (max-width:1200px) {
        justify-content: center;
    }


}

// #pagination-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.paginationexp {
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 100%;
    background-color: transparent;
}

#backpage {
    background-color: $colorbackgray;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: $colorblack;
}

#goaheadpage {
    background-color: $colorbackgray;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    color: $colorblack;
    //margin-left: 100px;
    //margin-top: 25px;
}

.arrow-left {
    background-color: transparent;
    width: 16px;
    height: 16px;
}

.arrow-right {
    background-color: transparent;
    width: 16px;
    height: 16px;
}

.points {
    background-color: transparent;
    width: 16px;
    height: 16px;
}



// #pageNumberContainer {
//     //width: 30px;
//     //height: 30px;
//     //background-color: yellowgreen;
// }


.paginationexp-numbers {
    display: flex;
    align-items: center;
}

#boxnumber {
    //background-color: lightblue;
    background-color: transparent;
    width: 44px;
    height: 16px;
    color: $colorblack;
}


.boxpoints {
    background-color: transparent;
    width: 44px;
    height: 16px;
    color: $colorblack;
}

.paginationexp-button {
    color: red; 
    margin: 0 5px;
}








// .paginationexp-button {
//     font: "Roboto";
//     font-size: 12px;
//     color: $colorblack;
//     margin: 1%;
//     padding: 10px;
//     background-color
// }

.movie {
    margin: 10px;
    width: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.05);
    }
}

.movie img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 2%;
}

h2 {
    text-transform: uppercase;
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

.genres-text {
    margin-top: 1%;
    color: $colororange;
    word-spacing: 2px;
    align-self: flex-start;
    font-family: Arial, Helvetica, sans-serif;
}

// .pagination {
//     display: flex;
//     list-style: none;
// }

// .pagination li {
//     margin: 5px;
//     cursor: pointer;
// }

// .current-page {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 40px;
//     height: 40px;
//     background-color: $colororange;
//     color: $colorwhite;
//     border-radius: 5px;
// }